<footer id="footer" class="dark">
    <div class="container">

        <!-- Footer Widgets
      ============================================= -->
        <div class="footer-widgets-wrap">

            <div class="row col-mb-50">
                <div class="col-lg-8">

                    <div class="row col-mb-50">
                        <div class="col-md-4">

                            <div class="widget clearfix">

                                <img src="assets/images/footer-widget-logo.png" alt="E-Commerce Logo" class="footer-logo">

                                <p>Oferecemos produtos de <strong>Qualidade</strong>, com <strong>Inovação</strong> &amp;
                                    <strong>Confiança</strong> 
                                    para nossos clientes.</p>

                                <div
                                    style="background: url('assets/images/world-map.png') no-repeat center center; background-size: 100%;">
                                    <address>
                                        <strong>Sede:</strong><br>
                                        Rua do Comércio, 123<br>
                                        1000-100 Lisboa, Portugal<br>
                                    </address>
                                    <abbr title="Telefone"><strong>Telefone:</strong></abbr> +351 21 123 4567<br>
                                    <abbr title="Fax"><strong>Fax:</strong></abbr> +351 21 123 4568<br>
                                    <abbr title="Email"><strong>Email:</strong></abbr> info&#64;ecommerce.pt
                                </div>

                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="widget widget_links clearfix">

                                <h4>Links Úteis</h4>

                                <ul>
                                    <li><a routerLink="/">Página Inicial</a></li>
                                    <li><a routerLink="/profile">Minha Conta</a></li>
                                    <li><a routerLink="/privacy-policy">Política de Privacidade</a></li>
                                    <li><a routerLink="/terms-of-service">Termos de Uso</a></li>
                                    <li><a routerLink="/shipping-returns">Envios e Devoluções</a></li>
                                    <li><a routerLink="/customer-support">Suporte ao Cliente</a></li>
                                    <li><a routerLink="/faq">Perguntas Frequentes</a></li>
                                </ul>

                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="widget clearfix">
                                <h4>Últimas Novidades</h4>

                                <div class="posts-sm row col-mb-30" id="post-list-footer">
                                    <div class="entry col-12">
                                        <div class="grid-inner row">
                                            <div class="col">
                                                <div class="entry-title">
                                                    <h4><a href="javascript:void(0)" onclick="return false;">Nova Coleção de Primavera Chegou!</a></h4>
                                                </div>
                                                <div class="entry-meta">
                                                    <ul>
                                                        <li>15 de Janeiro 2025</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="entry col-12">
                                        <div class="grid-inner row">
                                            <div class="col">
                                                <div class="entry-title">
                                                    <h4><a href="javascript:void(0)" onclick="return false;">Promoções de Janeiro - Até 50% OFF</a></h4>
                                                </div>
                                                <div class="entry-meta">
                                                    <ul>
                                                        <li>10 de Janeiro 2025</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="entry col-12">
                                        <div class="grid-inner row">
                                            <div class="col">
                                                <div class="entry-title">
                                                    <h4><a href="javascript:void(0)" onclick="return false;">Frete Grátis para Compras Acima de €50</a></h4>
                                                </div>
                                                <div class="entry-meta">
                                                    <ul>
                                                        <li>5 de Janeiro 2025</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-lg-4">

                    <div class="row col-mb-50">
                        <div class="col-md-4 col-lg-12">
                            <div class="widget clearfix" style="margin-bottom: -20px;">

                                <div class="row">
                                    <div class="col-lg-6 bottommargin-sm">
                                        <div class="counter counter-small">
                                            <span #downloadsCounter class="counter-number">50</span>
                                        </div>
                                        <h5 class="mb-0">Total Downloads</h5>
                                    </div>

                                    <div class="col-lg-6 bottommargin-sm">
                                        <div class="counter counter-small">
                                            <span #clientsCounter class="counter-number">50</span>
                                        </div>
                                        <h5 class="mb-0">Clients</h5>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-5 col-lg-12">
                            <div class="widget subscribe-widget clearfix">
                                <h5><strong>Subscreva</strong> a nossa Newsletter para receber Novidades, Ofertas Especiais
                                    &amp; Promoções Exclusivas:</h5>
                                <div class="widget-subscribe-form-result"></div>
                                <form id="widget-subscribe-form" action="#" method="post" class="mb-0">
                                    <div class="input-group mx-auto">
                                        <div class="input-group-text"><i class="icon-email2"></i></div>
                                        <input type="email" id="widget-subscribe-form-email"
                                            name="widget-subscribe-form-email" class="form-control required email"
                                            placeholder="Digite o seu email">
                                        <button class="btn btn-success" type="submit">Subscrever</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-3 col-lg-12">
                            <div class="widget clearfix" style="margin-bottom: -20px;">

                                <div class="row">
                                    <div class="col-6 col-md-12 col-lg-6 clearfix bottommargin-sm">
                                        <a href="#" class="social-icon si-dark si-colored si-facebook mb-0"
                                            style="margin-right: 10px;">
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#"><small style="display: block; margin-top: 3px;"><strong>Curta
                                                    nossa página</strong><br>no
                                                Facebook</small></a>
                                    </div>
                                    <div class="col-6 col-md-12 col-lg-6 clearfix">
                                        <a href="#" class="social-icon si-dark si-colored si-rss mb-0"
                                            style="margin-right: 10px;">
                                            <i class="icon-rss"></i>
                                        </a>
                                        <a href="#"><small
                                                style="display: block; margin-top: 3px;"><strong>Subscreva</strong><br>nosso
                                                Feed RSS</small></a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div><!-- .footer-widgets-wrap end -->

    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
        <div class="container">

            <div class="row col-mb-30">

                <div class="col-md-6 text-center text-md-start">
                    Direitos Autorais &copy; 2025 Todos os Direitos Reservados por E-Commerce PT.<br>
                    <div class="copyright-links"><a routerLink="/terms-of-service">Termos de Uso</a> / <a routerLink="/privacy-policy">Política de Privacidade</a></div>
                </div>

                <div class="col-md-6 text-center text-md-end">
                    <div class="d-flex justify-content-center justify-content-md-end">
                        <a href="#" class="social-icon si-small si-borderless si-facebook">
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-twitter">
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-gplus">
                            <i class="icon-gplus"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-pinterest">
                            <i class="icon-pinterest"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-vimeo">
                            <i class="icon-vimeo"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-github">
                            <i class="icon-github"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-yahoo">
                            <i class="icon-yahoo"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-linkedin">
                            <i class="icon-linkedin"></i>
                        </a>
                    </div>

                    <div class="clear"></div>

                    <i class="icon-envelope2"></i> info&#64;ecommerce.pt <span class="middot">&middot;</span> <i
                        class="icon-headphones"></i> +351 21 123 4567 <span class="middot">&middot;</span> <i
                        class="icon-skype2"></i> ECommercePortugal
                </div>

            </div>

        </div>
    </div><!-- #copyrights end -->
</footer><!-- #footer end -->